{% extends 'base.html' %}

{% block title %} Question Bank Home {% endblock %}

{% block content %}

<h1> Question Bank Home </h1>
    <div>
        <a href="{% url 'maker:multiple_choice' %}" class="btn btn-primary" role="button">Create a Multiple Choice Question</a>
        <a href="{% url 'maker:true_false' %}" class="btn btn-primary" role="button">Create True False Question</a>
    </div>

<h4> List of created questions: </h4>

    {% if q %}
        {% for question in q %}
            {{ question.question  }}<br>
        {% endfor %}
    {% endif %}

    <a href="{% url 'home' %}" class="btn btn-primary" role="button">Home</a>

{% endblock %}