{% extends 'base.html' %}

{% block title %}Multiple Choice Question{% endblock %}

{% block content %}

    <div class="col-10 mt-3">


        {% include 'snippets/error_snippet.html' %}

        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-8 offset-1">
                    <h3 class="mb-5">Multiple Choice Question</h3>
                </div>
                <!-- Question Title -->
                <div class="col-8 mx-auto">
                    {% include 'snippets/question_text_snippet.html' %}
                </div>
                <div class="col-8 mx-auto">
                    <div class="row">
                        <!-- Upload Image Field -->
                        <div class="col">
                            {% include 'snippets/image_snippet.html' %}
                        </div>

                        <!-- Subject Choice Field -->
                        <div class="col">
                            {% include 'snippets/select_snippet.html' %}
                        </div>
                    </div>
                </div>

                <div class="col-10 mx-auto">
                    <!-- loop though answers to render with bootstrap styling -->
                    {% include 'snippets/mc_answer_snippet.html' %}
                </div>


                <!-- Create question button -->
                {% include 'snippets/submit_snippet.html' %}
            </div>

        </form>

        <!-- Page navigation -->
        <div class="col-8 mx-auto">
            <a href="{% url 'maker:home' %}" class="btn btn-primary" role="button">&larr;</a>
        </div>

    </div>


{% endblock %}
