{% extends 'base.html' %}

{% load static %}

{% block title %} Question Bank Home {% endblock %}

{% block content %}

<script src="{% static 'js/deleteModal.js' %}"></script>

<div class="row m-2">
    <div class="col-6">
        <h1> Question Bank Home </h1>
        <div class="m-4">
            <a href="{% url 'maker:multiple_choice' %}" class="btn btn-primary" role="button">Create a Multiple Choice Question</a>
            <a href="{% url 'maker:true_false' %}" class="btn btn-primary" role="button">Create True False Question</a>
            <a href="{% url 'maker:make_test'%}" class="btn btn-primary" role="button">Create Test</a>
        </div>
    </div>
</div>

<div class="row m-2">
    <div class="col-6">
        <h4> List of created questions: </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Question Title</th>
                    <th scope="col">Answer #ID</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% if q %}
                    {% for question in q %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td>{{ question.question }}</td>
                            <td>{{ question.answer }}</td>
                            {% if question.choice_3 == None %}
                                <td><a href="{% url 'maker:true_false_edit' id=question.id %}">Edit</a></td>
                            {% else %}
                                <td>
                                    <a role="button" class="btn btn-outline-primary" href="{% url 'maker:multiple_choice_edit' id=question.id %}">Edit</a>
                                </td>
                            {% endif %}
                            <td>
                                <button type="button" data-toggle="modal" data-target="#delete_question_popup" data-id={{question.id}} class="btn btn-outline-secondary no-bbrr" onclick="deleteButton('{{question.id}}', '{% url 'maker:delete_question' id=0 %}')"><span class="oi oi-pencil"></span>Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div class="row m-2">
    <div class="col-6">
        <h4> List of created tests: </h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Test Title</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% if t %}
                    {% for test in t %}
                        <tr>
                            <th scope="row">{{ test.id }}</th>
                            <td>{{ test.test }}</td>
                            <td>{{ test.id }}</td>

                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

    <a href="{% url 'home' %}" class="btn btn-primary" role="button">Home</a>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to permanently delete this question? </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a role="button" href="#" class="btn btn-danger" id="finalDelete">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}