{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit Test
{% endblock %}

{% block content %}
<script src="{% static 'js/view_test.js' %}"></script>
<form action="." method="post" onsubmit="bindAnswers();">
    {% csrf_token %}

    <div class="col-10 mx-auto" id="test">

    <script>
        render("{{ q|escapejs }}", "{{ t|safe|escapejs }}")
    </script>

    </div>
    <div class="col-10 mx-auto">
        <div class="ml-5 mt-5">
            <a href="{% url 'maker:user_home_view' %}" class="btn btn-primary" role="button">&larr; Back</a>
        </div>
    </div>

    <input type="hidden" id="answerData" name="answerData">


</form>


{% endblock %}