
<!-- Row 1 -->
<div class="row mb-3">

    <!-- Answer 1 -->
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="{{ form.answer.name }}" id="id_answer_0" value="1" required>
                </div>
            </div>
            <input type="text" value="{{ form.choice_1.value }}" class="form-control" placeholder="Answer 1"
                   name="{{ form.choice_1.name }}" id="{{ form.choice_1.id_for_label }}" required>
        </div>
    </div>

    <!-- Answer 2 -->
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="{{ form.answer.name }}" id="id_answer_1" value="2" required>
                </div>
            </div>
            <input type="text" value="{{ form.choice_2.value }}" class="form-control" placeholder="Answer 2"
                   name="{{ form.choice_2.name }}" id="{{ form.choice_2.id_for_label }}" required>
        </div>
    </div>
</div>


<!-- Row 2 -->
<div class="row mb-3">

    <!-- Answer 3 -->
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="{{ form.answer.name }}" id="id_answer_2" value="3" required>
                </div>
            </div>
            <input type="text" value="{{ form.choice_3.value|default_if_none:"" }}" class="form-control" placeholder="Answer 4"
                   name="{{ form.choice_3.name }}" id="{{ form.choice_3.id_for_label }}" required>
        </div>
    </div>

    <!-- Answer 4 -->
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="{{ form.answer.name }}" id="id_answer_3" value="4" required>
                </div>
            </div>
            <input type="text" value="{{ form.choice_4.value|default_if_none:"" }}" class="form-control" placeholder="Answer 4"
                   name="{{ form.choice_4.name }}" id="{{ form.choice_4.id_for_label }}" required>
        </div>
    </div>
</div>


<!-- Row 3 -->
<div class="row mb-3">

    <!-- Answer 5 -->
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="{{ form.answer.name }}" id="id_answer_4" value="5">
                </div>
            </div>
            <input type="text" value="{{ form.choice_5.value|default_if_none:"" }}" class="form-control" placeholder="Answer 5"
                   name="{{ form.choice_5.name }}" id="{{ form.choice_5.id_for_label }}">
        </div>
    </div>

    <!-- Answer 6 -->
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="{{ form.answer.name }}" id="id_answer_5" value="6">
                </div>
            </div>
            <input type="text" value="{{ form.choice_6.value|default_if_none:"" }}" class="form-control" placeholder="Answer 6"
                   name="{{ form.choice_6.name }}" id="{{ form.choice_6.id_for_label }}">
        </div>
    </div>
</div>

<script>
    id = parseInt("{{ form.answer.value }}");
    $(`#id_answer_${id-1}`).attr('checked', true);
</script>